/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Gugi&family=Kaisei+HarunoUmi&family=Roboto&family=Sofia&display=swap');

/*Defining global variables */
:root{
    --light-blue: rgba(25, 155, 206, 0.89);
    --primary-color:rgb(13, 172, 235);
    --border: #2b303218;
    --text-color: rgb(247, 187, 75);
    --roboto:"Roboto",sans-serif;
    --gugi:"Gugi",cursive;
    --sofia:"Sofia",cursive;
}

.primary-color{
    color: var(--primary-color);
}

.bg-primary-color{
    background-color:var(--primary-color)!important;
}

.text-color{
    color: var(--text-color);
}

.font-robot{
    font-family: var(--roboto);
}

.lightblue{
    color:rgb(139, 176, 189);
}

/* Header */

/*Body and General Styling */
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--roboto);
    font-size: 14px;
    line-height: 23px;
    background: white;
    color: #1e1e27;

}

div {
    display: block;
    position: relative;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin-top: 0;
}

p {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

p a{
    display: inline;
    position: relative;
    color: inherit;
    transition: all 200ms ease;
}

a, a:hover, a:active, a:link{
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

p a:active{
    position: relative;
    color: var(--light-blue);
}

p a:hover{
    color: var(--primary-color);
    background: white;
}

p a:hover::after{
    opacity: 0.2;
}

::selection {
    background: #fde0db;
    color: var(--light-blue);
}

p::selection {
    background: #fde0db;
}

h1{font-size:72px;}
h2{font-size:40px;}
h3{font-size:28px;}
h4{font-size:24px;}
h5{font-size:16px;}
h6{font-size:14px;}
h1, h2, h3, h4, h5, h6{
    color: #000000;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.trans_300{
    transition: all 300ms ease;
}
input::placeholder{
    font-size: 16px !important;
    font-weight: 500;
    color: #777777;
}

.clearfix::before, .clearfix::after{
    content: "";
}
.clearfix::after{
    clear: both;
}
.clearfix{
    zoom: 1;
}


.super_container{
    width: 100%;
    overflow: hidden;
}

.fill_height{
    height: 100%;
}


/* Header */

.header .site-title {
    font-family: var(--gugi);
    font-size: 30px;
}

.container .dropdown-toggle,
.container .dropdown-item{
    font-size: 0.7em;
}

.header-links a{
    font-size: 0.9rem;
    text-decoration: none!important;
    color: white;
    border-radius: 5px;
}

.header-links p{
    font-family: var(--roboto);
    font-size: 15px;
    line-height: 1.7;
    color: #989898;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.1) 0 0 1px;

}

/*Navigation menu */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--primary-color);
    z-index: 10;
}

.nav {
    height: 50px;
    width: 100%;
    background-color: var(--primary-color);
    position: relative;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
    font-size: 16px;
}

.nav > .nav-links > a:hover {
    background-color: var(--light-blue);
}

.nav > #nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
        border-radius: 10px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: var(--light-blue);
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: var(--primary-color);
        height: 0;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

/*Checkout icon navbar stuff */
.navbar_user{
    margin-left: 30px;
}
.navbar_user li{
    display: inline-block;
    text-align: center;
}
.navbar_user li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    color: white;
    transition: color 0.3s ease;
}
.navbar_user li a:hover{
    color: #b5aec4;
}
.checkout{
    color: var(--light-blue);
}
.checkout a{
    background: var(--light-blue);
    border-radius: 50%;
}
.checkout_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -9px;
    left: 22px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--light-blue);
    font-size: 12px;
}

/* /HEADER  */



/*Slider one */
.main_slider{
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.main_slider_content{
    width: 50%;
}
.main_slider_content h6{
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 29px;
    color: #53a1a1!important;
}

.main_slider_content h1{
    font-weight: 400;
    line-height:1;
    color: #53a1a1!important;
}
.blue_button{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    background: var(--primary-color);
    border-radius: 3px;
    transition: all 0.3s ease;
}
.blue_button a{
    display: block;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height:40px;
    width: 100%;
}
.blue_button:hover{
    background-color: var(--light-blue);
}
.shop_now_button{
    width: 140px;
    margin-top: 32px;
}



/* Banners */
.banner{
    width: 100%;
    margin-top: 30px;
}
.banner_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 265px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner_category{
    height: 50px;
    background: white;
    min-width: 180px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
}
.banner_category a{
    display: block;
    color: #1e1e27;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    width: 100%;
}
.banner_category a:hover{
    color: #b5aec4;
}



/* New Arrivals/Products */
.new_arrivals{
    width: 100%;
}
.new_arrivals_title{
    margin-top: 54px;
    color: #b5aec4!important;
}
.new_arrivals_title h2{
    color: #64606d !important;
}
.new_arrivals_sorting{
    display: inline-block;
    border-radius: 3px;
    margin-top: 59px;
    overflow: visible;
}
.grid_sorting_button{
    height: 40px;
    min-width: 102px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    border: solid 1px #ebebeb;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    background: white;
    border-radius: 3px;
    margin: 0;
    float: left;
    margin-left: -1px;
}
.grid_sorting_button:first-child{
    margin-left: 0;
}
.grid_sorting_button.active{
    color: white;
    background: var(--primary-color);
}
.grid_sorting_button.active:hover{
    background: var(--light-blue)!important;
}


/* New Arrivals Product Grid */
.product-grid{
    width: 100%
}
.product-item{
    width: 20%;
    height: 380px;
    cursor: pointer;
}
.product-item::after{
    display: block;
    position: absolute;
    top: 0;
    left: -1px;
    width: calc(100% + 1px);
    height: 100%;
    pointer-events: none;
    content: '';
    border: solid 1px rgba(235,235,235,0);
    border-radius: 3px;
    transition : all 0.3s ease;
}
.product-item:hover::after{
    box-sizing: 0 25px 29px rgba(63, 78, 100, 0.15);
    border: solid 2px rgba(235, 235, 235, 1);
}
.product{
    width: 100%;
    height: 340px;
    border-right: solid 1px #e9e9e9;
}
.product_image{
    width: 100%;
}
.product_image img{
    width: 100%;
}
.product_info{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.product_name{
    margin-top: 27px;
}
.product_name a{
    color:#1e1e27;
    line-height: 20px;
}
.product_name:hover a{
    color:#b5aec4;
}
.discount .product_info .product_price{
    font-size: 14px;
}
.product_price{
    font-size: 16px;
    color: #fe4c50;
    font-weight: 600;
}
.product_price span{
    font-size: 12px;
    margin-left: 10px;
    color: #b5aec4;
    text-decoration: line-through;
}
.product_bubble{
    position: absolute;
    top: 15px;
    width: 50px;
    height: 22px;
    border-radius: 3px;
    text-transform: uppercase;
}
.product_bubble span{
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
}
.product_bubble_right::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 6px;
    right: auto;
    top: auto;
    bottom:-6px;
    border: 6px solid;
}
.product_bubble_left::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 6px;
    top: auto;
    bottom:-6px;
    border: 6px solid;
}

.product_bubble_blue::after{
    border-color: transparent transparent transparent #fe4c50;
}
.product_bubble_left::after{
    border-color: #51a042 #51a042 transparent transparent;
}
.product_bubble_blue{
    background: #fe4c50;
}
.product_bubble_green{
    background: #51a042;
}
.product_bubble_left{
    left: 15px;
}
.product_bubble_right{
    right: 15px;
}
.add_to_cart_button{
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.add_to_cart_button a{
    font-size: 12px;
    font-weight: 600;
}
.product-item:hover .add_to_cart_button{
    visibility: visible;
    opacity: 1;
}
.favorite{
    position: absolute;
    top: 15px;
    right: 15px;
    color: #b9b4c7;
    width: 17px;
    height: 17px;
    visibility: hidden;
    opacity: 0;
}
.favorite_left{
    left: 15px;
}
.favorite.active{
    visibility: visible;
    opacity: 1;
}
.product-item:hover .favorite{
    visibility: visible;
    opacity: 1;
}
.favorite.active::after{
    font-family: 'FontAwesome', sans-serif;
    content: '\f004';
    color: #fe4c50;
}
.favorite::after{
    font-family: 'FontAwesome', sans-serif;
    content: '\f08a';
}
.favorite:hover::after{
    color: #fe4c50;
}


/* Deal of the week */
.deal_of_the_week {
    width: 100%;
    margin-top: 41px;
    background: white;
}
.deal_of_the_week_img {
    height: 540px;
}
.deal_of_the_week_img img {
    height: 100%;
}
.deal_of_the_week_content {
    height: 100%;
}
.section_title {
    display: inline-block;
    text-align: center;
}
.section_title h2{
    display: inline-block;
    color: #4f4b57 !important;
}
.section_title::after{
    display: block;
    position: absolute;
    top: calc(100% + 13px);
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 5px;
    background: white;
    content: '';
}
.timer{
    margin-top: 66px;
}
.timer li{
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: white;
    margin-right: 10px;
}
.timer li:last-child{
    margin-right: 0;
}
.timer_num{
    font-size: 48px;
    font-weight: 600;
    color: var(--light-blue);
    margin-top: 10px;
}
.timer_unit{
    margin-top: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #51545f;
}
.deal_of_the_week_button{
    width: 140px;
    background:var(--primary-color);
    margin-top: 52px;
}
.deal_of_the_week_button:hover{
    background: var(--light-blue)!important;
}


/* Benefits */
.benefit{
    margin-top: 74px;
}
.benefit_row{
    padding-left: 15px;
    padding-right: 15px;
}
.benefit_col{
    padding-left: 0;
    padding-right: 0;
}
.benefit_item{
    height: 100px;
    background: #f3f3f3;
    border-right: solid 1px #ffffff;
    padding-left: 25px;
}
.benefit_col:last-child .benefit_item{
    border-right: none;
}
.benefit_icon i{
    font-size: 30px;
    color: var(--primary-color);
}
.benefit_content{
    padding-left: 22px;
}
.benefit_content h6{
    text-transform: uppercase;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 0;
}
.benefit_content p{
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
    color: #51545f;
}

/* FOOTER */
.site-footer
{
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}
.site-footer hr
{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small
{
    margin:20px 0
}
.site-footer h6
{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a
{
    color:#737373;
}
.site-footer a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links
{
    padding-left:0;
    list-style:none
}
.footer-links li
{
    display:block
}
.footer-links a
{
    color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links.inline li
{
    display:inline-block
}
.site-footer .social-icons
{
    text-align:right
}
.site-footer .social-icons a
{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}
.copyright-text
{
    margin:0
}
@media (max-width:991px)
{
    .site-footer [class^=col-]
    {
        margin-bottom:30px
    }
}
@media (max-width:767px)
{
    .site-footer
    {
        padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
        text-align:center
    }
}
.social-icons
{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons li
{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title
{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}
.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
    color:#fff;
    background-color:#29aafe
}
.social-icons.size-sm a
{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover
{
    background-color:#3b5998
}
.social-icons a.twitter:hover
{
    background-color:#00aced
}
.social-icons a.linkedin:hover
{
    background-color:#007bb6
}
.social-icons a.dribbble:hover
{
    background-color:#ea4c89
}
@media (max-width:767px)
{
    .social-icons li.title
    {
        display:block;
        margin-right:0;
        font-weight:600
    }
}



/********************** Responsive laypout for main content *********************/
@media only screen and (max-width:1199px){

    .main_slider{
        min-height: 475px;
        height: calc(10vw - 1.714);
    }

    .main_slider_content{
        width: 80%;
    }
    .banner_item{
        height: 220px;
    }
    .product-item{
        height: 360px;
    }
    .product{
        height: 320px;
    }
    .timer li{
        width: 90px;
        height: 90px;
    }
    .timer_num{
        font-size:36px;
        font-weight: 500;
    }

}

@media only screen and (max-width:991px){

    h1{font-size: 48px;}
    h1{font-size: 36px;}

    .main_slider_content{
        margin-bottom: 23px;
    }
    .shop_now_button{
        margin-top: 26px;
    }
    .main_slider_content{
        width: 100%;
        padding-right: 15px;
    }
    .banner_category{
        min-width: 160px;
    }
    .banner_category a{
        font-size: 14px;
    }
    .product-item{
        width: 25%;
    }
    .deal_of_the_week_col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .deal_of_the_week_content{
        position: relative;
        top: auto;
        left: auto;
        height: auto;
    }
    .deal_of_the_week_content .section_title h2{
        color: white;
        text-shadow: 2px 2px 10px black;
    }
    .deal_of_the_week_img{
        text-align: center;
    }
    .timer li{
        width: 70px;
        height: 70px;
    }
    .timer_num{
        font-size: 28px;
    }

    .benefit_col{
        margin-bottom:30px;
    }
    .benefit_col:last-child{
        margin-bottom: 0;
    }

}

@media only screen and (max-width:767px){

    h1{font-size: 36px;}
    h2{font-size: 24px;}
    h3{font-size: 12px;}

    .main_slider_content h6{
        margin-bottom: 23px;
    }
    .shop_now_button{
        margin-top: 20px;
    }
    .blue_button a{
        font-size: 12px;
    }
    .banner_item{
        margin-bottom: 30px;
        height: 210px;
    }
    .new_arrivals_title{
        margin-top: 44px;
    }
    .product-item{
        height: 345px;
    }
    .product{
        height: 345px;
    }
    .grid_sorting_button{
        font-size: 13px;
        padding-left: 20px;
        padding-right: 20px;
        min-width: 80px;
    }
    .benefit_col{
        margin-bottom: 15px;
    }
    .nav > .nav-links > a {
        font-size: 13px;
    }

}


@media only screen and (max-width:575px){

    .product-item{
        width: 50%;
        height: 420px;
    }
    .product{
        height: 420px;
    }
    .navbar_user{
        height: 15px;
        font-size: 10px;
    }
    .checkout_items{
        width: 15px;
        height: 15px;
        font-size: 10px;
    }
    .header-links{
        font-size: 13px;
    }
    .deal_of_the_week{
        margin-top: 20px;
    }

}
