<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>List products</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <div class = "col-lg-3">
            <a th:href="@{/addProduct}" class = "btn btn-primary btn-sm mb-3">Add New Product</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <table id="example" class="table table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <th>PId</th>
                    <th>PName</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${listProduct}">

                    <td th:text="${product.PId}">PId</td>
                    <td th:text="${product.PName}">PName</td>
                    <td th:text="${product.price}">Price</td>
                    <td>
                        <a th:href="@{/editProduct/{id}(id=${product.getPId()})}" class = "btn btn-primary"> Edit </a>
                        <a th:href="@{/listProduct/{id}(id=${product.getPId()})}" class = "btn btn-danger"> Delete </a>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
</html>